<div id="app-profile" class="LegendComponent">
     <div id="sidebar-container-fluid" class = "container-fluid">  
    <div class="dropdown">
    <button class="fa fa-bars sidebartoggle" type="button" data-toggle="dropdown"></button>
    <ul class="dropdown-menu" id="dropdown-menu">
        <li><button class="fa fa-area-chart sidebarItems" id="item01" type="button"></button></li>
        <li><button class="fa fa-line-chart sidebarItems" id="item02" type="button"></button></li>
        <li><button class="fa fa-question-circle sidebarItems" type="button"></button></li>
        <li><button class="fa fa-info-circle sidebarItems" type="button"></button></li>
        <li><button class="fa fa-cogs sidebarItems" type="button"></button></li>
    </ul>
    </div>

    <div class="informationBlock" id="informationBlock">
    <div id = "legenf" #legend class="container-fluid">
    <h3>Legend</h3>
        <img src="../assets/markers/peak.png" style="width:12px;height:12px;"> - Key Location<br>
        <img src="../assets/markers/profile.png" style="width:12px;height:12px;"> - Profile Vertex<br>
        <img src="../assets/markers/vertex.png" style="width:12px;height:12px;"> - Search Loctions
            </div>
    </div>
      
</div>
  
        </div>
   
