<div id="leaflet-map-component" class="leafletMapComponent"></div>

<i class="fa fa-bars icons_toggle"></i>
<div class="icons_menu">
        <div>
            <i class="fa fa-chevron-circle-left icon_1" (click)="_changeBasemapLayer(0)"></i>
            <i class="fa fa-chevron-circle-left icon_2"(click)="_changeBasemapLayer(1)"></i>
            <i class="fa fa-chevron-circle-left icon_3"(click)="_changeBasemapLayer(2)"></i>
            <i class="fa fa-chevron-circle-left icon_4"(click)="_changeBasemapLayer(3)"></i>
            <i class="fa fa-chevron-circle-right"></i>  
        </div>       
</div>

